* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.redColor {
  color: Red !important;
}
.greenColor {
  color: green !important;
}

.TableBodyHover:hover {
  background-color: rgba(0, 0, 0, 0.103);
}

.hoverit1:hover{
  background-color: blue !important;
  transition: .5s ease all !important;
}
.hoverit2:hover{
  background-color: orangered !important;
  transition: .5s ease all !important;
}
